@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap');

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #E0FBFC;
    --secondary-color: #4B88A2;
    --accent-color: #FDCA40;
    --text-color: #222;
    --background-color: #FFF3E4;
    --accept-color: #2ea44f;
} 

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: var(--text-color);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: antiquewhite;
    background-color: #faead6;
}

.sweep:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: #2098D1;
    transform: scaleX(0);
    transform-origin: 0 50%;
    animation-name: sweep;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes sweep {
    0% {transform: scaleX(0)}
    48% {transform: scaleX(1); transform-origin: 0% 50%}
    53% {transform: scaleX(1); transform-origin: 100% 50%}
    100% {
        transform: scaleX(0); transform-origin: 100% 50%
    }
}

.modal .header {
    padding: 2px 30px;
    background-color: var(--secondary-color);
}

.modal .body {
    padding: 2px 3%;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    padding: 0;
    background-color: var(--background-color);
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    min-height: 435px;
    height: auto;
}


.button {
    position: relative;
    margin: 25px 10px;
    width: 100% - 25px;
    height: 2em;
    background-color: var(--accent-color);
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 2;
}

/* CSS */
.quirky-button {
  background-color: var(--accent-color);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  margin: 25px 10px;
  width: 100% - 25px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
}

.quirky-button:hover {
    color: darkgoldenrod;
}


ul li {
    padding-bottom: 15px;
    padding-right: 25px;
    list-style-type: circle;
}

.page-title {
    text-align: center;
    /* text-decoration: underline;
    text-decoration-line: underline; */
    background-color: var(--secondary-color);
    width: 100%;
    height: 200px;
    margin: 0;
    margin-bottom: 15px;
    position: relative;
    padding: 0;
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
    line-height: 200px;
    color: var(--accent-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.page-title:before {
    position: absolute;
    content: "";
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, var(--text-color) 0px 0px 0px 3px;
}
 
.content {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: max-content;
    max-height: 100%;
    overflow: scroll;
    justify-content: top;
    flex-direction: column;
}

.post {
    background-color: #2098D1;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    width: 800px;
    height: auto;
    margin: 10px auto;
    border-radius: 25px;
}

.centered {
    margin: 0 auto;
    position: static;
}


.post .header {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

.post .header .subject-display {
    font-weight: 400;
}

.post .text {
    font-size: 18px;
    margin-top: 0;
    padding: 0px 15px 25px 25px;
}

.write-button {
    z-index: 1;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 150px;
    height: 150px;
    overflow: auto;
    cursor: pointer;
    border-radius: 75px;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 180px;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 2px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
}

.write-button * {
    transition: 0.3s ease-in-out;
}


.write-button:hover {
    background-color: var(--accent-color);
    transform: translateY(-10%);
}

.write-button:hover * {
    color: var(--primary-color);
}


.home-button {
    z-index: 1;
    position: fixed;
    left: 50px;
    bottom: 50px;
    width: 150px;
    height: 150px;
    overflow: auto;
    cursor: pointer;
    border-radius: 75px;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 180px;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 2px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
}

.home-button * {
    transition: 0.3s ease-in-out;
}


.home-button:hover {
    background-color: var(--accent-color);
    transform: translateY(-10%);
}

.home-button:hover * {
    color: var(--primary-color);
}


.right-zoom-transition:before {
    content: "";
    position: absolute;
    height: 4000px;
    width: 4000px;
    transform: translate(50%, -50%);
    background-color: var(--accent-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: unset;
    animation-name: right-zoom;
    animation-iteration-count: 1;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    z-index: 100;
}

@keyframes right-zoom {
    0% {transform: translate(50%, 25%)}
    49% {transform: translate(-50%, -50%)}
    51% {transform: translate(-50%, -50%)}
    100% {transform: translate(50%, 25%)}
}


.left-zoom-transition:before {
    content: "";
    position: absolute;
    height: 4000px;
    width: 4000px;
    transform: translate(-150%, -50%);
    background-color: var(--accent-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: unset;
    animation-name: left-zoom;
    animation-iteration-count: 1;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    z-index: 100;
}

@keyframes left-zoom {
    0% {transform: translate(-75%, 30%)}
    49% {transform: translate(-20%, -70%)}
    51% {transform: translate(-20%, -70%)}
    100% {transform: translate(-75%, 30%)}
}


.right-hint-text{
    position: fixed;
    right: 35px;
    bottom: 200px;
    text-align: center;
    line-height: 20px;
    color: var(--accent-color);
    text-shadow: 2px 2px rgba(218, 189, 96, 0.41);
}

.left-hint-text{
    position: fixed;
    left: 50px;
    bottom: 200px;
    text-align: center;
    line-height: 20px;
    color: var(--accent-color);
    text-shadow: 2px 2px rgba(218, 189, 96, 0.41);
}

.screen {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.form-popup {
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: var(--secondary-color);
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 2px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
}

.prompt {
    color: var(--primary-color);
    justify-self: end;
    width: fit-content;
    padding: 8px 35px;
    margin: 10px 8px;
    font-size: 18px;
}

form h2{
    color: #FDCA40;
    font-weight: bold;
}

.form-popup .header {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 8px 15px;
    margin: 4px 8px;
    font-size: 18px;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input {
    width: 90%;
    height: 60%;
    padding: 4px 8px;
    resize: none;
    box-sizing: border-box;
    outline: auto;
}

.dropdown {
    justify-self: end;
    height: 35px;
}

#noPost {
    display: flex;
    position: static;
    z-index: 1;
    width: max-content;
    height: fit-content;
    line-height: 100vh;
    color: var(--text-color);
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

.header-icon {
    font-size: 70px;
    margin-right: 15px;
    transform: translateY(10%);
    color: var(--accent-color);
}

.shake {
    animation: shake 0.3s;
    animation-iteration-count: infinite;
}

.close {
    color: var(--accent-color);
    font-size: xx-large;
    position: absolute;
    right: 35px;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}